@charset "UTF-8";
body,
html {
    text-align: right;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #b3ffec;
}

#ontopmenu {
    margin: 0% 2% 0% 0%;
}

.topmenu {
    margin: 1% 0% 0% 0%;
    padding: 0% 0.3% 0% 0.3%;
    font-family: 'Arial';
    text-decoration: none;
    background-color: transparent;
    border: none;
    font-size: 1.5vw;
    color: #003326;
    display: inline-block;
}

.topmenu:hover {
    text-decoration: underline;
    font-size: 2.0vw;
}

#search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 7vw;
    width: 80vw;
    background-color: #b3ffec;
    border: 0px #000 solid;
    border-bottom: 4px #efd10e solid;
    border-radius: 3px;
}

#search[type=text] {
    color: #003326;
    padding: 1% 2%;
    font-family: 'Roboto', sans-serif;
    font-size: 6vw;
}

#search::-webkit-input-placeholder {
    text-align: left;
    color: #003326;
    opacity: 1;
}

#search::-moz-placeholder {
    text-align: left;
    color: #003326;
    opacity: 1;
}

#search:-ms-input-placeholder {
    text-align: left;
    color: #003326;
    opacity: 1;
}
